@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff"), url("../fonts/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Thin"), local("Raleway-Thin"), url("../fonts/ralewaythin.woff2") format("woff2"), url("../fonts/ralewaythin.woff") format("woff"), url("../fonts/ralewaythin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'RalewayBold';
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/ralewaysemibold.woff2") format("woff2"), url("../fonts/ralewaysemibold.woff") format("woff"), url("../fonts/ralewaysemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

body {
  font: normal 16px/1.4em 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #f9fafa;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative; }

h1, h2, h3 {
  font: 50px 'Raleway', sans-serif;
  margin: 0 0 70px;
  color: #feb900;
  position: relative; }

h2.left {
  text-align: left; }
  h2.left:before {
    content: '';
    position: absolute;
    background: #fabb18;
    bottom: -webkit-calc(50% - 1px);
    bottom: calc(50% - 1px);
    right: -webkit-calc(100% + 20px);
    right: calc(100% + 20px);
    height: 2px;
    width: 2000px;
    opacity: 0.2; }

h2.right {
  text-align: right; }
  h2.right:after {
    content: '';
    position: absolute;
    background: #fabb18;
    bottom: -webkit-calc(50% - 1px);
    bottom: calc(50% - 1px);
    left: -webkit-calc(100% + 20px);
    left: calc(100% + 20px);
    height: 2px;
    width: 2000px;
    opacity: 0.2; }

section {
  height: 100%;
  padding: 70px 0;
  overflow: hidden; }

.container {
  margin: 0 auto;
  height: 100%;
  position: relative; }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media (max-width: 1200px) {
    .container {
      width: 960px; } }
  @media (max-width: 991px) {
    .container {
      width: 720px; } }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover {
    color: #ffba00; }

li {
  list-style: none; }

header {
  position: fixed;
  width: 100%;
  background: rgba(29, 29, 29, 0.39);
  padding: 20px 0;
  z-index: 1000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  header:hover {
    background: rgba(29, 29, 29, 0.53); }
  header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header .container .logo {
      width: 40%;
      font-size: 32px;
      line-height: 1;
      text-transform: uppercase; }
      header .container .logo a {
        color: #ffba00; }
        header .container .logo a span {
          font-family: 'RalewayBold'; }
    header .container nav {
      float: right;
      width: 60%; }
      header .container nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        float: right; }
        header .container nav ul li:last-child a {
          margin-right: 0; }
        header .container nav ul li a {
          font-size: 19px;
          margin: 0 15px;
          position: relative; }
          header .container nav ul li a:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #ffba00;
            bottom: -30px;
            opacity: 0;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s; }
          header .container nav ul li a:hover:before {
            bottom: -3px;
            opacity: 1; }

#front_banner {
  padding: 0; }
  #front_banner .img_box {
    height: 100vh;
    width: 100%;
    background: url("../img/main_img.jpg") center;
    -webkit-background-size: cover;
            background-size: cover; }
    #front_banner .img_box .txt_block {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      height: 300px;
      text-align: right;
      color: #2e2c37; }

#work_box {
  background-color: #313131; }
  #work_box .works_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #work_box .works_items .work_item {
      width: -webkit-calc(100%/3);
      width: calc(100%/3);
      height: 400px; }
      #work_box .works_items .work_item img {
        width: 100%;
        height: 100%; }
    #work_box .works_items .hidden_desc {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #33333378;
      top: 0; }

#skills_box {
  background-color: #272526; }

#contact {
  background-color: #313131; }
