doctype html
html(lang=en)
    head
        title Portfolio
        link(href='/css/libs.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
    body
        header: .container
            .logo
                a(href="#") <span>I</span>rina<br><span>P</span>etrushenko
            nav: ul
                li: a(href="#front_banner") Home
                li: a(href="#work_box") My Works
                li: a(href="#skills_box") About Me
                li: a(href="#contact") Contact
        section#front_banner
            div.img_box: .container: div.txt_block
        section#work_box: .container
            h2.left My Works
            .works_items
                .work_item
                    img(src='../img/work/1.png')
                    .hidden_desc
                        p.title Co-working
                        p.desc This is the first experience of layout landing page
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://irina-aninger.github.io/together/') Go to
                .work_item
                    img(src='../img/work/2.png')
                    .hidden_desc
                        p.title Kinopoisk
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://irina-aninger.github.io/movies/') Go to
                .work_item
                    img(src='../img/work/3.png')
                    .hidden_desc
                        p.title Belkontplus
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://www.belkontplus.by/') Go to
                .work_item
                    img(src='../img/work/4.png')
                    .hidden_desc
                        p.title Gradient
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.gradient.by/') Go to
                .work_item
                    img(src='../img/work/5.png')
                    .hidden_desc
                        p.title Eurokupe
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://eurokupe.by/') Go to
                .work_item
                    img(src='../img/work/6.png')
                    .hidden_desc
                        p.title Aristek Systems
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.aristeksystems.com/') Go to
                .work_item
                    img(src='../img/work/7.png')
                    .hidden_desc
                        p.title 20dc
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://20dc.by/') Go to
                .work_item
                    img(src='../img/work/8.png')
                    .hidden_desc
                        p.title Bounty Travel
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://bountytravel.by/') Go to
                .work_item
                    img(src='../img/work/9.png')
                    .hidden_desc
                        p.title BabyLikes
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://babylikes.by/') Go to
                .work_item
                    img(src='../img/work/10.png')
                    .hidden_desc
                        p.title Astal
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://astal.by/') Go to
                .work_item
                    img(src='../img/work/11.png')
                    .hidden_desc
                        p.title Agent Professional
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://agentprofessional.ru/') Go to
                .work_item
                    img(src='../img/work/12.png')
                    .hidden_desc
                        p.title БелВнешРеклама
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://bzr.by/') Go to
                .work_item
                    img(src='../img/work/0.png')
                    .hidden_desc
                        p.title Darida
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.darida.by/') Go to
                .work_item
                    img(src='../img/work/13.png')
                    .hidden_desc
                        p.title Ecosoft
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://ecosoft.by/') Go to
                .work_item
                    img(src='../img/work/14.png')
                    .hidden_desc
                        p.title Ecodar
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://ecodar.by/') Go to
                .work_item
                    img(src='../img/work/15.png')
                    .hidden_desc
                        p.title Elegia
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://elegiadent.by/') Go to
                .work_item
                    img(src='../img/work/16.png')
                    .hidden_desc
                        p.title Figurist
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.figurist.ru/') Go to
                .work_item
                    img(src='../img/work/17.png')
                    .hidden_desc
                        p.title Garantiruem
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://garantiruem.by/') Go to
                .work_item
                    img(src='../img/work/18.png')
                    .hidden_desc
                        p.title Florita
                        p.desc Work in this
                        .tags
                            ul
                                li HTML
                                li Css
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://florita.by/') Go to
        section#skills_box: .container
            h2.right About Me
            .experience_wrapper
                h3 Work Experience
                .experience_item
                    p.title HTML/CSS/JQuery-coder
                    .desc
                        h4 Seologic
                        p April 2018 - July 2019
                        ul
                            li LoremLoremLoremLoremLoremLoremLorem
                            li LoremLoremLoremLoremLoremLoremLorem
                            li LoremLoremLoremLoremLoremLoremLorem
            .skills_wrapper
                h3 Software Skills
                .skills_item
                    div#photoshop
                        p.title Photoshop
                        .progress-bar
                            .bar
                    div#illustrator
                        p.title Illustrator
                        .progress-bar
                            .bar
                h3 Technical Skills
                .skills_item
                    div#html
                        p.title Html
                        .progress-bar
                            .bar
                    div#css
                        p.title Css
                        .progress-bar
                            .bar
                h3 Languages
                .skills_item
                    div#english
                        p.title English
                        .progress-bar
                            .bar
                    div#deutsch
                        p.title Deutsch
                        .progress-bar
                            .bar
        section#contact: .container
            h2.left Contact
            #feedback_form
                form(action="#" method="post")
                    div
                        label(for="name") Name
                        input#name(type="text" name="name" value="")
                    div
                        label(for="email") Email
                        input#email(type="text" name="email" value="")
                    div
                        label(for="message") Message
                        textarea#message(name="message")
                    div
                        input#submit(type="submit" value="send")
        footer
            .container
                .copyright © 2019 Irina Petrushenko.
                .soc_link
            #work_item__pop-up
                .pop-up__wrapper
                    .close
                    .img_col
                        img(src='../img/gradient.png')
                    .info_col
                        .top_link
                            a(href='#') Site
                        .desc Irina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina Petrushenko
                            .tags
                                ul
                                    li HTML
                                    li Css
        script(src='/js/common.js')
