doctype html
html(lang=en)
    head
        title Portfolio
        link(href='/css/libs.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
    body
        header: .container
            .logo
                a(href="#") <span>I</span>rina<br><span>P</span>etrushenko
            nav: ul
                li: a(href="#") Home
                li: a(href="#") Portfolio
                li: a(href="#") Services
                li: a(href="#") About
                li: a(href="#") Contact
        section#front_banner
            div.img_box: .container: div.txt_block
        section#work_box: .container
            h2.left My Works
            .works_items
                .work_item
                    img(src='../img/together.png')
                    .hidden_desc
                        p.title Co-working
                        p.desc This is the first experience of layout landing page
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
                .work_item
                    img(src='../img/elegia.png')
                    .hidden_desc
                        p.title Project 1
                        p.desc Work in this
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
                .work_item
                    img(src='../img/gradient.png')
                    .hidden_desc
                        p.title Project 1
                        p.desc Work in this
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
                .work_item
                    img(src='../img/together.png')
                    .hidden_desc
                        p.title Project 1
                        p.desc Work in this
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
                .work_item
                    img(src='../img/together.png')
                    .hidden_desc
                        p.title Project 1
                        p.desc Work in this
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
                .work_item
                    img(src='../img/together.png')
                    .hidden_desc
                        p.title Project 1
                        p.desc Work in this
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='#') Go to
        section#skills_box: .container
            h2.right About Me
            .experience_wrapper
                h3 Work Experience
                .experience_item
                    p.title HTML/CSS/JQuery-coder
                    .desc
                        h4 Seologic
                        p April 2018 - July 2019
                        ul
                            li LoremLoremLoremLoremLoremLoremLorem
                            li LoremLoremLoremLoremLoremLoremLorem
                            li LoremLoremLoremLoremLoremLoremLorem
            .skills_wrapper
                h3 Software Skills
                .skills_item
                    div#photoshop
                        p.title Photoshop
                        .progress-bar
                    div#illustrator
                        p.title Illustrator
                        .progress-bar
                h3 Technical Skills
                .skills_item
                    div#html
                        p.title Html
                        .progress-bar
                    div#css
                        p.title Css
                        .progress-bar
                h3 Languages
                .skills_item
                    div#english
                        p.title English
                        .progress-bar
                    div#deutsch
                        p.title Deutsch
                        .progress-bar
        section#contact: .container
            h2.left Contact
            #feedback_form
                form(action="#" method="post")
                    div
                        label(for="name") Name
                        input#name(type="text" name="name" value="")
                    div
                        label(for="email") Email
                        input#email(type="text" name="email" value="")
                    div
                        label(for="message") Message
                        textarea#message(name="message")
                    div
                        input#submit(type="submit" value="send")
        footer
            .container
                .copyright © 2019 Irina Petrushenko.
                .soc_link
            #work_item__pop-up
                .pop-up__wrapper
                    .close
                    .img_col
                        img(src='../img/gradient.png')
                    .info_col
                        .top_link
                            a(href='#') Site
                        .desc Irina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina PetrushenkoIrina Petrushenko
                            .tags
                                ul
                                    li HTML
                                    li Css
        script(src='/js/common.js')
