doctype html
html(lang=en)
    head
        title Портфолио
    body
        header
            .logo
            nav: ul
                    li: a Home
                    li: a Portfolio
                    li: a Blog
                    li: a Services
                    li: a About
                    li: a Contact
        section
        section
        section
        section
        section
        section
        footer
