doctype html
html(lang=en)
    head
        title Portfolio
        script(src='/js/libs.min.js')
        script(src='/js/common.js')
        link(href='/css/libs.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
    body
        header
            .container
                .logo Irina<br>Petrushenko
                nav: ul
                        li: a Home
                        li: a Portfolio
                        li: a Services
                        li: a About
                        li: a Contact
        section#front_banner
            div.img_box
        section#work_box 123
        section
        section
        section
        section
        footer
