doctype html
html(lang=en)
    head
        title Portfolio
        script(src='/js/libs.min.js')
        script(src='/js/common.js')
        link(href='/css/libs.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
    body
        header: .container
            .logo
                a(href="#") <span>I</span>rina<br><span>P</span>etrushenko
            nav: ul
                li: a(href="#") Home
                li: a(href="#") Portfolio
                li: a(href="#") Services
                li: a(href="#") About
                li: a(href="#") Contact
        section#front_banner
            div.img_box: .container: div.txt_block
        section#work_box: .container
            h2.left My Works
            .works_items
                .work_item
                    img(src='../img/main_img.jpg')
                    .hidden_desc
                        p.title
                        p.desc
                        .links
                .work_item
                .work_item
                .work_item
                .work_item
                .work_item
        section#skills_box: .container
            h2.right About Me
        section#contact: .container
            h2.left Contact
        footer
