doctype html
html(lang='en')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Portfolio
        link(href='./css/main.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:100&display=swap" rel="stylesheet")
    body
        header: .container
            .logo
                a(href='/') <span>I</span>rina<br><span>P</span>etrushenko
            nav: ul
                li: a(href='#front_banner') Home
                li: a(href='#work_box') My works
                li: a(href='#skills_box') About me
                //li: a(href='#contact') Contact
        section#front_banner
            div.img_box
                .txt_block
                    .container
                        h1 I'm beginner Front-end Developer
        section#work_box: .container
            h2.right My Works
            .works_items
                .work_item(data-name='co-working')
                    img(src='./img/work/1.jpg' alt='image')
                    .hidden_desc
                        p.title Co-working
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://irina-aninger.github.io/together/' target='_blank') Go to
                .work_item(data-name='kinopoisk')
                    img(src='./img/work/2.jpg' alt='image')
                    .hidden_desc
                        p.title Kinopoisk
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://irina-aninger.github.io/movies/' target='_blank') Go to
                .work_item(data-name='garantiruem')
                    img(src='./img/work/3.jpg' alt='image')
                    .hidden_desc
                        p.title Garantiruem
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://garantiruem.by/' target='_blank') Go to
                .work_item(data-name='gradient')
                    img(src='./img/work/4.jpg' alt='image')
                    .hidden_desc
                        p.title Gradient
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.gradient.by/' target='_blank') Go to
                .work_item(data-name='ecosoft')
                    img(src='./img/work/15.jpg' alt='image')
                    .hidden_desc
                        p.title Ecosoft
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://ecosoft.by/' target='_blank') Go to
                .work_item(data-name='anbosta')
                    img(src='./img/work/32.jpg' alt='image')
                    .hidden_desc
                        p.title Anbosta
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://www.anbosta.by/' target='_blank') Go to
                .work_item(data-name='florita')
                    img(src='./img/work/18.jpg' alt='image')
                    .hidden_desc
                        p.title Florita
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://florita.by/' target='_blank') Go to
                .work_item(data-name='inoxtrade')
                    img(src='./img/work/34.jpg' alt='image')
                    .hidden_desc
                        p.title Inoxtrade
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://inoxtrade.by/' target='_blank') Go to
                .work_item(data-name='transfer-minsk')
                    img(src='./img/work/22.jpg' alt='image')
                    .hidden_desc
                        p.title Transfer Minsk
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://transfer-minsk.com/' target='_blank') Go to
                .work_item(data-name='ecodar')
                    img(src='./img/work/16.jpg' alt='image')
                    .hidden_desc
                        p.title Ecodar
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://ecodar.by/' target='_blank') Go to
                .work_item(data-name='eurokupe')
                    img(src='./img/work/6.jpg' alt='image')
                    .hidden_desc
                        p.title Eurokupe
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://eurokupe.by/' target='_blank') Go to
                .work_item(data-name='gold')
                    img(src='./img/work/20.jpg' alt='image')
                    .hidden_desc
                        p.title Золотая подкова
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://xn--80aafhnuexbbci1b1n.xn--90ais/' target='_blank') Go to
                .work_item(data-name='wealth')
                    img(src='./img/work/21.jpg' alt='image')
                    .hidden_desc
                        p.title Wealth
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://wealth.by/' target='_blank') Go to
                .work_item(data-name='belkontplus')
                    img(src='./img/work/5.jpg' alt='image')
                    .hidden_desc
                        p.title Belkontplus
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://www.belkontplus.by/' target='_blank') Go to
                .work_item(data-name='20dc')
                    img(src='./img/work/8.jpg' alt='image')
                    .hidden_desc
                        p.title 20dc
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://20dc.by/' target='_blank') Go to
                .work_item(data-name='elegiadent')
                    img(src='./img/work/17.jpg' alt='image')
                    .hidden_desc
                        p.title Elegiadent
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://elegiadent.by/' target='_blank') Go to
                .work_item(data-name='rcompany')
                    img(src='./img/work/24.jpg' alt='image')
                    .hidden_desc
                        p.title Rcompany
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://rcompany.by/' target='_blank') Go to
                .work_item(data-name='hmelnov')
                    img(src='./img/work/33.jpg' alt='image')
                    .hidden_desc
                        p.title Hmelnov
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='https://hmelnov.by/rating/' target='_blank') Go to
                .work_item(data-name='homsair')
                    img(src='./img/work/31.jpg' alt='image')
                    .hidden_desc
                        p.title Homsair
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://homsair.vldpl.me/' target='_blank') Go to
                .work_item(data-name='ph2')
                    img(src='./img/work/35.jpg' alt='image')
                    .hidden_desc
                        p.title Ph2
                        .links
                            a.more(href='#work_item__pop-up') More
                            a(href='http://ph2.pwd.by/' target='_blank') Go to
                button#more_items
        section#skills_box: .container
            h2.left About Me
            .experience_wrapper
                h3 Work Experience
                .experience_item
                    p.title HTML/CSS/JQuery-coder
                    .desc
                        h4 Seologic
                        p April 2018 - August 2019
                        ul
                            li Layout of individual elements of websites
                            li SEO markup on websites
                            li Working with templates in Photoshop and Figma
                            li Independent design development of elements
                            li Work with an outsourcing company (in particular with <a href="https://www.ingate.ru/" target='_blank'>Ingate</a>)
            .skills_wrapper
                h3 Software Skills
                ul.skills_item
                    li#photoshop
                        p.title Photoshop
                        .progress-bar
                            .bar
                    li#figma
                        p.title Figma
                        .progress-bar
                            .bar
                    li#illustrator
                        p.title Illustrator
                        .progress-bar
                            .bar
                h3 Technical Skills
                ul.skills_item
                    li#html
                        p.title HTML
                        .progress-bar
                            .bar
                    li#css
                        p.title CSS / SCSS / SASS / LESS
                        .progress-bar
                            .bar
                    li#js
                        p.title JavaScript
                        .progress-bar
                            .bar
                    li#php
                        p.title PHP
                        .progress-bar
                            .bar
                    li#pug
                        p.title Pug
                        .progress-bar
                            .bar
                    li#gulp
                        p.title Gulp
                        .progress-bar
                            .bar
                    li#git
                        p.title Git
                        .progress-bar
                            .bar
                h3 Languages
                ul.skills_item
                    li#english
                        p.title English
                        .progress-bar
                            .bar
                    li#deutsch
                        p.title Deutsch
                        .progress-bar
                            .bar
        //section#contact: .container
        //    h2.right Contact
        //    #feedback_form
        //        form(action='#' method='post')
        //            div
        //                label(for='name') Name
        //                input#name(type='text' name='name' value='')
        //            div
        //                label(for='email') Email
        //                input#email(type='text' name='email' value='')
        //            div
        //                label(for='message') Message
        //                textarea#message(name='message')
        //            div
        //                input#submit(type='submit' value='send')
        footer
            .container
                .copyright © 2019 Irina Petrushenko.
                ul.soc_link
                    li
                        a(href='https://vk.com/id70846306' target='_blank')
                            img(src='./img/vk.svg')
                    li
                        a(href='https://www.linkedin.com/in/irina-petrushenko/' target='_blank')
                            img(src='./img/linkedin.svg')
                    li
                        a(href='https://github.com/irina-aninger' target='_blank')
                            img(src='./img/github.svg')
                    li
                        a(href='https://join.skype.com/invite/meT0coPZtPsY' target='_blank')
                            img(src='./img/skype.svg')
        script(src='./js/items.js')
        script(src='./js/common.js')
