@import "../sass/fonts.sass"

//MIXIN
@mixin x_large
  @media (min-width: 1200px)
    @content

@mixin large
  @media (max-width: 1200px)
    @content

@mixin medium
  @media (max-width: 992px)
    @content

@mixin small
  @media (max-width: 768px)
    @content

@mixin xs_small
  @media (max-width: 576px)
    @content
//END MIXIN

//ANIMATION
@keyframes moreCircle
  from
    border: 1px solid #ffffff
  50%
    border: 1px solid #ffffff
    box-shadow: 0 0 5px #ffffff
    transform: scale(1.05)
  to
    border: 1px solid #ffffff
//END ANIMATION


body
  font: normal 16px/1.4em 'Roboto', sans-serif
  color: #fff
  letter-spacing: 0.04em
  line-height: 1.5
  background-color: #f9fafa
  width: 100%
  height: 100%
  margin: 0
  position: relative

button
  &:focus
    outline: none

input
  &:focus
    outline: none

textarea
  &:focus
    outline: none

h1, h2, h3
  font: 50px 'Raleway', sans-serif
  margin: 0 0 70px
  color: #ffba00
  position: relative
  @include xs_small
    font: 38px 'Raleway', sans-serif
    margin: 0 0 40px

h3
  font: 100 24px 'Roboto', sans-serif
  text-transform: uppercase
  margin: 0 0 40px
  @include xs_small
    margin: 0 0 30px

h4
  color: #ffba00
  text-transform: uppercase
  font: 18px 'Raleway', sans-serif
  font-weight: 600
  margin: 7px 0 15px 0

h2.left
  text-align: left
  margin-left: -60px
  &:before
    content: ''
    position: absolute
    background: #fabb18
    bottom: calc(50% - 1px)
    right: calc(100% + 20px)
    height: 2px
    width: 2000px
    opacity: 0.2

h2.right
  text-align: right
  margin-right: -60px
  &:after
    content: ''
    position: absolute
    background: #fabb18
    bottom: calc(50% - 1px)
    left: calc(100% + 20px)
    height: 2px
    width: 2000px
    opacity: 0.2

section
  height: 100%
  padding: 70px 0
  overflow: hidden

.container
  margin: 0 auto
  height: 100%
  position: relative
  @include x_large
    width: 1140px
  @include large
    width: 960px
  @include medium
    width: 720px
  @include small
    width: 540px
  @include xs_small
    width: calc(100% - 30px)
    padding: 0 15px

a
  text-decoration: none
  cursor: pointer
  color: #fff

  &:hover
    color: #ffba00

li
  list-style: none

header
  position: fixed
  width: 100%
  background: rgba(29,29,29,0.39)
  padding: 20px 0
  z-index: 1000
  transition: .3s
  &:hover
    background: rgba(29, 29, 29, 0.53)
  .container
    display: flex
    .logo
      width: 40%
      font-size: 32px
      line-height: 1
      text-transform: uppercase
      a
        color: #ffba00
        span
          font-family: 'RalewayBold',sans-serif
    nav
      float: right
      width: 60%
      @include medium
        display: none
      ul
        display: flex
        float: right
        li
          &:last-child
            a
              margin-right: 0
          a
            font-size: 19px
            margin: 0 15px
            position: relative
            &:before
              content: ''
              position: absolute
              width: 100%
              height: 1px
              background: #ffba00
              bottom: -30px
              opacity: 0
              transition: .2s
            &:hover
              &:before
                bottom: -3px
                opacity: 1

#front_banner
  padding: 0
  .img_box
    height: 100vh
    width: 100%
    background: url("../img/main_img.jpg") center
    background-size: cover
    .txt_block
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      height: 300px
      text-align: right
      color: #2e2c37

#work_box
  background-color: #313131
  .works_items
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px 40px
    @include medium
      grid-template-columns: repeat(2, 1fr)
    @include small
      grid-template-columns: repeat(1, 1fr)
    .work_item
      width: 100%
      height: 353px
      position: relative
      overflow: hidden
      box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.28)
      display: none
      @include medium
        height: 340px
      &.visible
        display: block
      &:hover
        img
          filter: blur(4px)
          transform: rotate(10deg) scale(1.5)
        .hidden_desc
          opacity: 1
          &::before
            transform: rotate(75deg) translateX(40%)
            transition: transform .2s
            transition-delay: .4s
          .desc
            opacity: 1
            transition: opacity .3s
        .links
          bottom: 20px
          transition: bottom .2s
          transition-delay: .7s
      img
        width: 100%
        height: auto
        transition: .3s
    .hidden_desc
      position: absolute
      opacity: 0
      top: 0
      height: calc(100% - 40px)
      width: calc(100% - 40px)
      background: #272526e6
      padding: 20px
      overflow: hidden
      transition: opacity .3s
      &::before
        content: ''
        width: 100%
        height: 500px
        background: #ffba00
        position: absolute
        transform: rotate(75deg) translateX(100%)
      .title
        font: 40px 'Raleway', sans-serif
        color: #ffba00
      .desc
        opacity: 0
        transition: opacity .3s
      .tags
        display: none
      .links
        position: absolute
        bottom: -40px
        width: calc(100% - 40px)
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 30px
        text-align: center
        a
          width: 100%
          padding: 6px 0
          position: relative
          overflow: hidden
          color: #272526
          font-weight: 600
          border: 1px solid #272526
          border-radius: 2px
          &:hover
            background: #313131
            color: #feb900
            font-weight: 100
  #more_items
    grid-column: 1/-1
    position: relative
    background: none
    border: none
    margin: 50px 0 0 0
    width: 100px
    height: 60px
    justify-self: center
    cursor: pointer
    @include xs_small
      margin: 25px 0 0 0
    &.open
      transform: rotate(180deg)
    &::before
      content: ''
      position: absolute
      width: 55px
      height: 55px
      left: 0
      right: 0
      top: 0
      margin: auto
      border: 1px solid #fff
      border-radius: 50%
      animation: moreCircle 2s infinite ease-in-out
    &::after
      content: ''
      position: absolute
      width: 15px
      height: 15px
      left: 0
      right: 0
      top: 17px
      margin: auto
      border-bottom: 1px solid #fff
      border-right: 1px solid #fff
      transform: rotate(45deg)
    &:hover
      &::before
        border: 1px solid #ffba00
        box-shadow: 0 0 10px #ffba00
        animation: none

#skills_box
  background-color: #272526
  .container
    display: grid
    grid-template-columns: 2fr 1fr
    grid-gap: 0 30px
    @include medium
      grid-template-columns: 1fr
    h2
      &.left
        grid-column: 1 / -1
    .experience_wrapper
      margin-bottom: 50px
      .experience_item
        .title
          background: #ffba00
          color: #000
          font-weight: 600
          width: fit-content
          padding: 5px 20px
        .desc
          position: relative
          background: #565556
          padding: 20px 20px
          margin-top: 25px
          &::before
            content: ''
            position: absolute
            top: -7px
            left: 10px
            width: 15px
            height: 15px
            background: #565556
            transform: rotate(45deg)
          ul
            padding-left: 20px
            li
              position: relative
              &::before
                content: ''
                position: absolute
                left: -20px
                top: 9px
                width: 5px
                height: 5px
                border-top: 1px solid #ffba00
                border-left: 1px solid #ffba00
                transform: rotate(135deg)
    .skills_wrapper
      .skills_item
        margin-bottom: 80px
        &:last-child
          margin-bottom: 0
        .title
          margin: 5px 0 7px 0
        .progress-bar
          height: 15px
          border: 1px solid #ffffff3b
          background: #ffffff03
          overflow: hidden
          position: relative
          margin-bottom: 20px
          .bar
            width: 0
            background: #ffba00
            height: 100%

#contact
  background-color: #313131
  h2
    &::after
      height: 1px
  #feedback_form
    margin-top: 120px
    form
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 60px 30px
      @include xs_small
        grid-template-columns: 1fr
        grid-gap: 30px 30px
      div
        position: relative
        border-bottom: 1px solid #ffba00
        &:nth-child(3)
          grid-column: 1 / -1
        &:nth-child(4)
          grid-column: 1 / -1
          border-bottom: none
        label
          position: absolute
          font-size: 42px
          color: #ffffff
          margin-top: -10px
          top: 0
          @include xs_small
            font-size: 28px
        input
          width: 100%
          background: transparent
          border: none
          height: 70px
          color: #fff
          font-size: 30px
          transition: .3s
          @include xs_small
            height: 45px
          &#submit
            background: #565556
            color: #fff
            font-size: 28px
            text-transform: uppercase
            cursor: pointer
            transition: .3s
            &:hover
              background: #ffba00
              color: #272526
        textarea
          width: 100%
          background: transparent
          border: none
          height: 200px
          color: #fff
          font-size: 30px
          margin-bottom: -15px
          transition: .3s
        &.active
          label
            font-size: 16px
            color: #ffffff8a
            margin-top: -15px
            transition: .3s
        &.error
          border-bottom: 1px solid #ff0404
          transition: .3s
          label
            color: #ff0000
            transition: .3s



footer
  background: #272526
  padding: 40px 0
  .container
    display: grid
    grid-template-columns: 1fr 1fr
    .copyright
      font-size: 20px

#work_item__pop-up
  display: none
  position: fixed
  z-index: 99999999
  top: 0
  height: 100%
  width: 100%
  background: #000000bf
  &.open
    display: block
    .pop-up__wrapper
      transform: translateX(0%)
      transition: transform .6s
      transition-delay: .1s
  .pop-up__wrapper
    width: 1200px
    height: 800px
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #ffffff
    margin: auto
    display: grid
    grid-template-columns: 1fr 2fr
    overflow: hidden
    transform: translateX(200%)
    transition: transform .6s
    .close
      position: absolute
      right: 15px
      top: 18px
      width: 40px
      height: 40px
      cursor: pointer
      transition: .3s
      &::before
        content: ''
        position: absolute
        width: 25px
        height: 1px
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        background: #fff
        transform: rotate(45deg)
      &::after
        content: ''
        position: absolute
        width: 25px
        height: 1px
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        background: #fff
        transform: rotate(135deg)
      &:hover
        transform: rotate(90deg)
        &::before
          background: #feb900
        &::after
          background: #feb900
    .img_col
      overflow: hidden
      box-shadow: -3px 1px 17px 7px #00000038
      img
        width: 100%
    .info_col
      overflow: hidden
      .top_link
        padding: 20px 30px
        background: #272526
        a
          font-size: 28px
          text-transform: uppercase
      .desc
        padding: 30px
        font-weight: 600
        color: #000
        font-size: 16px
      .tags
        margin-top: 50px
        ul
          display: grid
          grid-template-columns: repeat(6, 1fr)
          grid-gap: 10px 20px
          padding: 0
          li
            padding: 5px 5px
            text-align: center
            color: #ffffff
            font-weight: 600
            background: #feb900

.open_pop-up
  overflow: hidden
